*.exp
*.user
*.filters
*.suo
*.log
*.pdb
*.tlog
*.obj
*.cache
*.opensdf
*.ilk
*.idb
*.ipch
*.sdb
*ipch/*
*.unsuccessfulbuild
*.sdf
*Debug.win32*
CocosDenshion/proj.win32/Debug.win32/*
CocosDenshion/proj.win32/Debug.win32/*
Debug.win32/*
cocos2d-win32.vc2010.sdf
cocos2d-win32.vc2010.suo
cocos2dx/proj.win32/Debug.win32/cocos2d.log
cocos2dx/proj.win32/Debug.win32/libcocos2d.write.1.tlog
extensions/proj.win32/Debug.win32/libExtensions.log
external/chipmunk/proj.win32/Debug.win32/chipmunk.log
ipch/*
samples/Javascript/TestJavascript/proj.win32/Debug.win32/*
scripting/javascript/bindings/proj.win32/Debug.win32/*
cocos2dx/proj.win32/Debug.win32/*